body{
  font-family: sans-serif;
  box-sizing: border-box;
}

.gridContainer{
  background-color: gray;
  display: inline-block;
}
.grid{
  color: white;
  display: grid;
  grid-template-rows: repeat(var(--rows, 10), 34px);
  grid-template-columns: repeat(var(--cols, 10), 34px);
  gap: 3px;
  margin: 4px;
}

.box{
  background-color: black;
  border: 2px;
}

.box:hover{
  cursor: pointer;
}

